//* {
  border: 2px solid black;
}
*/
.jumbotron {
  background-color: white;
}
.result-tbl {
  height: 30vh;
  border: 5px solid black;
  width: 40%;
}
.result-tbl h3 {
  text-align: center;
}
#result {
  overflow: auto;
  background-color: grey;
  height:24vh;
  width:100%;
  color: black;
  text-align: center;
}
.list {
  list-style: none;

}
.jumbotron h1 {
  text-align: center;
}
#aboutpingpong p {
  text-align: center;
}
#aboutpingpong {
  float:left;
}
#firstdiv {
  float:right;
}
.test {
  width:100%;
}
#vertical-align {
  text-align: center;
  vertical-align: middle;
}
