.result-tbl {
  height: 30vh;
  border: 5px solid green;
  width: 40%;
}
.result-tbl h3 {
  text-align: center;
}
#result {
  overflow: auto;
  background-color: grey;
  height:24vh;
  width:100%;
  color: black;
  text-align: center;
}
.list {
  list-style: none;

}
.jumbotron h1 {
  text-align: center;
}
